# logs
logs

# Specific
config/baikal.yaml
config/.htaccess
Specific/INSTALL_DISABLED
html/service_account_key.json

# Composer stuff
composer.lock
vendor

# Build
/build

# Vim
.*.swp

# Others
.DS_Store

# IDE
nbproject

# Tests
.php-cs-fixer.cache
.php_cs.cache
