button.privacy {
     background:none; 
     border:none; 
     text-decoration: underline;
    }

    button.unsubscribe {
     background:none; 
     border:none; 
     text-decoration: underline;
    }